/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(14, 98%, 50%);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Space Grotesk', sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--body-color);
  transition: background-color .4s, color .4s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  overflow: hidden; /* For the animations ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo, 
.nav__toggle {
  color: var(--text-color);
  display: inline-flex;
}

.nav__logo {
  font-weight: 700;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--black-color);
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, .25);
    transition: .4s;
  }

  .nav__menu .nav__link,
  .nav__close {
    color: var(--white-color);
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== HOME ===============*/
.home {
  background-color: var(--body-color);
  padding: 9rem 0 2rem;
  height: 100vh;
  display: grid;
}

.home__container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  color: var(--first-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  margin: .75rem 0;
  color: var(--title-color);
}

.home__button {
  margin-top: 2rem;
  display: inline-block;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: .80rem 1.5rem;
  border-radius: 3rem;
  transition: background-color .4s, box-shadow .4s;
}

.home__button:hover {
  background-color: var(--first-color);
  box-shadow: 0 4px 12px hsla(14, 98%, 35%, .25);
}

.home__img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
  filter: grayscale(1) brightness(1.08) contrast(0.95);
}

.home__img {
  justify-self: center;
}

.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(0, 0%, 0%, .18);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

.home__footer {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}

.footer__contact, .footer__email {
  color: var(--text-color);
}

/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

/*=============== DARK THEME ===============*/
body.dark-theme {
  --first-color: hsl(14, 80%, 50%);
  --black-color: hsl(0, 0%, 18%);
  --black-color-light: hsl(0, 0%, 30%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --body-color: hsl(0, 0%, 8%);
  --container-color: hsl(0, 0%, 12%);
}

.dark-theme .home__shadow {
  background-color: hsla(0, 0%, 100%, .12);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    padding-top: 7rem;
  }
}

@media screen and (min-height: 320px){
  .home {
    padding-top: 5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
}

@media screen and (min-width: 620px){
  .home {
    padding-top: 9rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__img img {
    width: 400px;
  }
  .home__shadow {
    width: 250px;
    height: 40px;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}
